  <section style="position:sticky;top:0; width:100vw; z-index:100" class="" >
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark position-sticky m-0 p-0 " style="z-index: 100;">
            <div class="container">
                <a href="/" class="navbar-brand titleheader" style="font-family:Georgia, 'Times New Roman', Times, serif;font-weight:bold;font-size:30px; padding:20px"><span style="color:blue; " class="titleheader">COMPUTER</span>LAB</a>
    <!-- phone toggle button -->
    {{> togglebtn}}
            
    <div class="collapse navbar-collapse " id="navmenu">
        <ul class="navbar-nav ms-auto ">
            <li class="nav-item ">
                <a href="/" class="nav-link nav-header active" style="color: white;"><i class="bi bi-house-door"></i>HOME</a>
            </li>
            <li class="nav-item department" style="position:relative ">
                <a href="#department" class="nav-link text-light nav-header " style="position:relative; font-family:Georgia, 'Times New Roman', Times, serif">  <i class="bi bi-cloud-minus"></i>DEPARTMENT</a>
                <ul class=" department d-none" style="position:absolute; width:440px;padding:0; background-color:rgb(218, 105, 53)">
                    <li class="text-white"><a href="/department" class="nav-link text-light subnav-header" style="font-family:Georgia, 'Times New Roman', Times, serif">  <i class="bi bi-cloud-minus"></i>CIVIL ENGINEERING</a></li>
                    <li class="text-white"><a href="/department" class="nav-link text-light subnav-header" style="font-family:Georgia, 'Times New Roman', Times, serif">  <i class="bi bi-cloud-minus"></i>ELECTRICAL AND ELECTRONIC ENGINEERING</a></li>
                    <li class="text-white"><a href="/department" class="nav-link text-light subnav-header" style="font-family:Georgia, 'Times New Roman', Times, serif">  <i class="bi bi-cloud-minus"></i>MECHANICAL ENGINEERING</a></li>
                    <li class="text-white"><a href="/department" class="nav-link text-light subnav-header" style="font-family:Georgia, 'Times New Roman', Times, serif">  <i class="bi bi-cloud-minus"></i>MINIRAL ENGINEERING</a></li>
                </ul>
            </li>
            <li class="nav-item ">
                <a href="/department" class="nav-link text-light nav-header" style="font-family:Georgia, 'Times New Roman', Times, serif">  <i class="bi bi-cloud-minus"></i>RESULT</a>
            </li>
            <li class="nav-item ">
                <a href="/assignment" class="nav-link text-light nav-header" style="font-family:Georgia, 'Times New Roman', Times, serif">  <i class="bi bi-cloud-minus"></i> SUBMIT OF ASSIGNMENT</a>
            </li>
            </li>
            <li class="nav-item ">
                <a href="/department/stafflogin" class="nav-link text-light nav-header"><i class="bi bi-telephone"></i>STAFF</a>
            </li>
            <li class="nav-item ">
                <a href="/contact" class="nav-link text-light nav-header"><i class="bi bi-telephone"></i>CONTACT US</a>
            </li>
        </ul>
        </div>
    
        
     </div> 
    
    </nav>
    </section>