  <section class="mainheader d-flex m-auto" >
      
    <nav class=" bg-dark text-white " style="width: 100%;display:flex;justify-content:space-around;align-items:center;padding:20px" id="header">
       
        <div class="logo">
           <a href="/" class="" style="font-family:Georgia, 'Times New Roman', Times, 
                serif;font-weight:bold;"><span s]tyle="color:rgb(231, 29, 29); text-shadow:0 30px 10px white"
                 class="titleheader">COMPUTER </span></a>
        </div>

        <div style="display: flex;justify-content:space-around;align-items:center;" id="navigation">

        <div class="d-flex desktopmenu" >
            <ul class="d-flex" id="nav-menu"> 
                <li><a href=""><i class="fa-regular fa-house-user"></i>Home</a></li>
                <li><a href=""><i class="fa-solid fa-school"></i>Department</a></li>
                <li><a href=""><i class="fa-solid fa-house-laptop"></i>Assignment</a></li>
                <li><a href=""><i class="fa-solid fa-folder-user"></i>Contact Us</a></li>
            </ul>
        </div>
        <div class="staff">
            <a href="#">Staff Login</a>
        </div>
        </div>
        <div class="toggle" id="toggles">
            
        </div>
    </nav>

     <div class="navigation bg-dark " id="toggleall">
        <div style="margin-top:5px; margin-left:20px;font-weight:700;">
        COMPUTER
        </div>
            <ul class="d-flex flex-column  mobile-nav" id=""> 
                <li><a href="">Home</a></li>
                <li><a href="">Department</a></li>
                <li><a href="/assignment">Assignment</a></li>
                <li><a href="">Contact Us</a></li>
            </ul>
        </div>
    </section>
