<section class="d-sm-flex container my-1 w-100" style="justify-content: center;align-items:center;">
    <section style="padding:10px; text-align:center;color:#fff; border-radius:8px;background-color:rgb(221, 138, 78)" class=" mx-1">
        <div style="font-family:Georgia, 'Times New Roman', Times, serif;font-size:20px">CIVIL ENGINEERING</div>
        <div><img src="/WallpaperDog-10869697.jpg"  style="border-radius: 20%;height:140px"></div>
        <div style="text-align:justify" class="py-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Quis earum numquam magni temporibus nostrum cum, molestiae possimus
             necessitatibus, amet culpa ratione. Placeat maxime voluptatibus 
             delectus quia magni laboriosam sint ipsa!<a href="/civil"><button type="submit">See More</button></a></div>
    </section>
    <section style="padding:10px; text-align:center;color:#fff; border-radius:8px" class="bg-dark mx-1">
        <div style="font-family:Georgia, 'Times New Roman', Times, serif;font-size:20px">CHEMICAL ENGINEERING</div>
        <div><img src="/WallpaperDog-10869697.jpg"   style="border-radius: 20%;height:140px"></div>
        <div style="text-align:justify" class="py-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Quis earum numquam magni temporibus nostrum cum, molestiae possimus
             necessitatibus, amet culpa ratione. Placeat maxime voluptatibus 
             delectus quia magni laboriosam sint ipsa!<a href="/chemical"><button type="submit">See More</button></a></div>
    </section>
    <section style="padding:10px; text-align:center;color:#fff; border-radius:8px;background-color:rgb(221, 138, 78)" class=" mx-1">
        <div style="font-family:Georgia, 'Times New Roman', Times, serif;font-size:20px">ELECTRICAL AND TELECOMMUNICATION ENGINEERING</div>
        <div><img src="/WallpaperDog-10869697.jpg"   style="border-radius: 20%;height:140px"></div>
        <div style="text-align:justify" class="py-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Quis earum numquam magni temporibus nostrum cum, molestiae possimus
             necessitatibus, amet culpa ratione. Placeat maxime voluptatibus 
             delectus quia magni laboriosam sint ipsa!<a href="/electrical"><button type="submit">See More</button></a></div>
    </section>
    <section style="padding:10px; text-align:center;color:#fff; border-radius:8px" class="bg-dark mx-1">
        <div style="font-family:Georgia, 'Times New Roman', Times, serif;font-size:20px">MINIRAL ENGINEERING</div>
        <div><img src="/WallpaperDog-10869697.jpg"   style="border-radius: 20%;height:140px"></div>
        <div style="text-align:justify" class="py-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Quis earum numquam magni temporibus nostrum cum, molestiae possimus
             necessitatibus, amet culpa ratione. Placeat maxime voluptatibus 
             delectus quia magni laboriosam sint ipsa!<a href="/miniral"><button type="submit">See More</button></a></div>
    </section>

     <section style="padding:10px; text-align:center;color:#fff; border-radius:8px;background-color:rgb(221, 138, 78)" class=" mx-1">
        <div style="font-family:Georgia, 'Times New Roman', Times, serif;font-size:20px">MECHANICAL ENGINEERING</div>
        <div><img src="/WallpaperDog-10869697.jpg"   style="border-radius: 20%;height:140px"></div>
        <div style="text-align:justify" class="py-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Quis earum numquam magni temporibus nostrum cum, molestiae possimus
             necessitatibus, amet culpa ratione. Placeat maxime voluptatibus 
             delectus quia magni laboriosam sint ipsa!<a href="/mechanical"><button type="submit">See More</button></a></div>
    </section>
    
  
   
   

</section>