<section class="bg-dark text-white " style="margin-bottom:0%">
  <footer class="d-sm-flex container" style="font-size:15px;align-items:center;padding:10px">
    <section style="flex: 1; " class="p-sm-3">
      <img src="/auchipolylogo.gif" alt="schoollogo">
      <div>
        <h1>About</h1>
        <p>The Mission of Auchi Federal Polytechnic is to promote technological advancement
           by providing conducive environment for research, teaching and learning engenders 
          development of products that are technologically oriented, self-reliant and relevant to society</p>
      </div>
    </section>
    <section style="flex: 1;" class="p-sm-3">
     <h2 style="border-bottom:2px solid #fff; padding-bottom:20px" >Quick links</h2>
      <ul class="navbar-nav ms-auto ">
            <li class="nav-item">
                <a href="/" class="nav-link" style="color: white;">>HOME</a>
            </li>
            <li class="nav-item">
                <a href="/department" class="nav-link text-light" style="font-family:Georgia, 'Times New Roman', Times, serif">>DEPARTMENT</a>
            </li>
            <li class="nav-item">
                <a href="/department" class="nav-link text-light" style="font-family:Georgia, 'Times New Roman', Times, serif">>RESULT</a>
            </li>
            <li class="nav-item">
                <a href="/assignment" class="nav-link text-light" style="font-family:Georgia, 'Times New Roman', Times, serif">>SUBMIT OF ASSIGNMENT</a>
            </li>
            </li>
            <li class="nav-item">
                <a href="/department/stafflogin" class="nav-link text-light">>STAFF</a>
            </li>
            <li class="nav-item">
                <a href="/contact" class="nav-link text-light">>CONTACT US</a>
            </li>
        </ul>
    </section>
    <section style="flex: 1;" class="p-sm-3">
     <h2 style="border-bottom:2px solid #fff; padding-bottom:20px">Newsletter</h2>
      <p class="my-4">Subscribe to Federal Polytechnic Auchi, Nigeria news letters</p>
      <form action="/email" method="POST" class="my-4">
        <input placeholder="Enter your email" name="email" type="email" style="padding:17px; border-radius:8px;color:#fff">
        <button type="submit" class="my-1" style="padding:8px; border-radius:8px;background-color:rgb(47, 141, 47);color:#fff">submit</button>
      </form> 
     
    
    </section>
    <section style="flex: 1;" class="p-sm-3">
     <h2 style="border-bottom:2px solid #fff; padding-bottom:20px">Contact us</h2>
     <div>P.M.B. 1, Abraka
Delta State, Nigeria</div>
     <div>email:auchipolyengineering@gmail.com</div>
     <div>P.M.B. 1, Abraka
Delta State, Nigeria</div>
     <div>P.M.B. 1, Abraka
Delta State, Nigeria</div>
     <div>P.M.B. 1, Abraka
Delta State, Nigeria</div>

    
    </section>
  


  </footer>
      <div style="text-align: center;background-color:rgb(190, 104, 4);">
 <span class="" style="color:#fff; font-size:10px;font-weight:700;font-family:'Times New Roman', Times, serif;">TEMPLE'S MEDIA</span>
 <div style="font-size: 14px;">
   <span><i>Contact Us +2347011951761</i></span>
   <span>@2021-2022 All Rights Reserved</span>

 </div>
    </div>


</section>
