<section class="body2">
 Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam placeat non asperiores repellat accusamus voluptates cumque nostrum aspernatur quos, earum, pariatur vitae dicta? Consequatur consequuntur provident quo odit, velit eni Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam placeat non asperiores repellat accusamus voluptates cumque nostrum aspernatur quos, earum, pariatur vitae dicta? Consequatur consequuntur provident quo odit, velit enim!
   
    </section>