<section class="bg-dark learning" style="position:relative; padding:30px 0px; display: flex; flex-direction:column-reverse;justify-content:center;align-items:center; height:100vh; ">
    <div style="padding:20px" class="firstdetails wow animate__backInLeft">
<div style="text-align: center; font-weight:700;margin-bottom:20px;font-size:20px" class="manage">
    Create. Manage. Sell Events & Courses
</div>
<div class="text-center" style="font-size: 14px ; font-weight:700;" class="manageone">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos ipsam voluptate, temporibus labore obcaecati quas perspiciatis, suscipit laudantium odio totam corrupti dicta officiis maiores doloribus distinctio sunt, provident iusto. Necessitatibus.

</div>
<div class="btn btn-primary text-center details" style="position:relative; left:39%; margin-top:20px">
    <a href="#"><i class="fa-solid fa-leaf"></i> DETAILS</a>
</div>


    </div>

    <div style="height:300px; padding:20px; margin-top:30px" class="seconddetails wow animate__backInRight">
        <img src="/PngItem_42940.png" style="height:200px;">

    </div>
</section>