<section style="z-index:-1;" id="home">
  
  <img class="mainimage" src="/wallpaperflare.com_wallpaper.jpg" height="100vh" width="100%" alt="background image">
   <section style="position:absolute;padding:10px;text-align:start; top:60%; width:600px; color:#fff; left:7%; background-color:rgb(153, 102, 51,0.6)">
    <div style="font-family:Georgia, 'Times New Roman', Times, serif;font-weight:bold;"><marquee>AUCHI POLYTECHNIC ENGINEERING</marquee></div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti ea nisi harum, ullam numquam incidunt.
       Assumenda nihil enim fuga necessitatibus corrupti rem esse architecto totam ad laboriosam. Asperiores, dolor autem.</p>




<div>
  <a href="#popup1"><button style="border: 2px solid #fff; background-color:black; color:#fff; padding:10px;border-radius:15px">Click To Get Started</button></a>
</div>

<div id="popup1" class="overlay">
  <div class="popup" style="background-color:rgb(221, 138, 78); ">
    <h2 style="text-align: center; font-family:Georgia, 'Times New Roman', Times, serif;font-weight:bold;color:#fff">ASSIGMENT</h2>
    <a class="close" href="#">&times;</a>
    <div class="content text-black">
       {{>registerform}}
    </div>
  </div>
</div>
       
   </section>

</section>





