<section class="bg-dark d-none d-sm-block menu" style="width: 300px;height:100vh;position:fixed;top:0;left:0">
    <div class="logo">
       <a href="/admin"> <img src="/hdlogo.gif" class="p-2" height="100px" width="100%" alt="logo"></a>
    </div>
    <div class="items ">
        <ul class="mt-4 p-0 mx-2 ">
            <li class="morning">MORNING
                <ul class="morning1 my-2">
                    {{!-- INPUT A ICON --}}
                   <a href="/admin/MorningHND2"> <li class="my-1">HND2</li></a>
                   <a href="/admin/MorningHND1"> <li class="my-1">HND1</li></a>
                   <a href="/admin/MorningND2"> <li class="my-1">ND2</li></a>
                   <a href="/admin/MorningND1"> <li class="my-1">ND1</li></a>
      
                </ul>
            </li>
            <li class="evening my-2">EVENING
                  <ul>
                     <a href="/admin/EveningHND2"> <li class="my-1">HND2</li></a>
                   <a href="/admin/EveningHND1"> <li class="my-1">HND1</li></a>
                   <a href="/admin/EveningND2"> <li class="my-1">ND2</li></a>
                   <a href="/admin/EveningND1"> <li class="my-1">ND1</li></a>
                </ul>
                <ul>
            <a href="/admin/notification">  <li>NOTIFICATION</li></a>
            <a href="/admin/edit">  <li>EDIT PAGE</li></a>
            </ul>
          
        </ul>
    </div>
</section>