<div style="border-bottom: 2px solid rgb(123, 16, 185); position:fixed; width:calc(100% - 300px)" class="p-3 bg-dark text-light  ">
    <div class="navigation" style="display: flex; justify-content:space-between; align-items:center; width:100%">
        <div class="search">
            <form action="/admin/search" method="POST">
            <input type="text" name="search" placeholder="search">
            </form>
        </div>
        <div class="notificationball">
            bell
            <img src="IMG_9129.jpeg" style="border-radius:50%" width="50px" height="50px" class="m-0 p-0" alt="profileimage">
        </div>
    </div>
    </div>