 <section class="container mt-2">
 <button type="submit" style="border:2px solid black" class="entertainment">ENTERTAINMENT</button>
<button type="submit" style="border:2px solid black" class="technology">technology</button>
    <ul class="output">

    </ul>
    </section>