<a href="#" style="background-color:#1775F1; padding:10px;" class="btn-download">
					<i class='bx bxs-cloud-download' ></i>
					<span class="text" style="color: white;">Download PDF</span>
				</a>