 <section  class="container">

            <form class="form form-control my-4 bg-dark " action="/studentform" method="POST"> 
                <div>
                    <label class="program" for="mat">DEPARTMENT</label>
                    <select class="form-control department" style="border: none; opacity:40%" name="department" id="cars">
                        <option value="CIVIL">CIVIL ENGINEERING</option>
                        <option value="CHEMICAL">CHEMICAL ENGINEERING</option>
                        <option value="ELECTRICAL">ELECTRICAL AND ELECTRONIC ENGINEERING</option>
                        <option value="MINIRAL">MINIRAL ENGINEERING</option>
                        <option value="MECHANICAL">MECHANICAL ENGINEERING</option>
                      </select>
                </div>
                <div>
                    <label class="program" for="mat">PROGRAM</label>
                    <select class="form-control morneven" style="border: none; opacity:40%" name="morneven" id="cars">
                        <option value="MORNING">MORNING</option>
                        <option value="EVENING">EVENING</option>
                      </select>
                </div>
                <div>
                    <label class="program" for="mat">LEVEL</label>
                    <select class="form-control level" style="border: none; opacity:40%" name="level" id="level">
                        <option value="HND2">HND2</option>
                        <option value="HND1">HND1</option>
                        <option value="ND2">ND2</option>
                        <option value="ND1">ND1</option>
                      </select>
                </div>
                <button type="submit" style="opacity: 100%;" class="my-3 form-control btn-primary btn btns">CLICK TO CHECK YOUR ASSIGMENT</button>
            </form>

    
    </section>
    