<section class="bg-white text-black boxing" style="padding:20px;display:flex;flex-direction:column">
    <div class="d-flex" style="flex-direction:column;">
        <div class="d-flex" style="padding:10px" >
            <div style="margin:auto;padding:20px; color:white; background-color:blue"><i class="fa-solid fa-graduation-cap"></i></div>
            <div class=" px-2 mx-2" style="">
                <div style="margin-bottom:5px">Education Organization</div>
                <div>Lorem ipsum dolor sit amet consectetur adipisicing elit 
                    sed do eiusmod tempor incididunt lorem ipsum</div>
            </div>
        </div>
        <div class="d-flex" style="padding:10px" >
            <div style="margin:auto;padding:20px; color:white; background-color:blue"><i class="fa-solid fa-school"></i></div>
            <div class=" px-2 mx-2" style="">
                <div style="margin-bottom:5px">Education Organization</div>
                <div>Lorem ipsum dolor sit amet consectetur adipisicing elit 
                    sed do eiusmod tempor incididunt lorem ipsum</div>
            </div>
        </div>
        <div class="d-flex" style="padding:10px" >
            <div style="margin:auto;padding:20px; color:white; background-color:blue"><i class="fa-sharp fa-solid fa-screwdriver-wrench"></i></div>
            <div class=" px-2 mx-2" style="">
                <div style="margin-bottom:5px">Education Organization</div>
                <div>Lorem ipsum dolor sit amet consectetur adipisicing elit 
                    sed do eiusmod tempor incididunt lorem ipsum</div>
            </div>
        </div>
      
    </div>




    <div class="d-flex" style="flex-direction:column;">
        <div class="d-flex" style="padding:10px" >
            <div style="margin:auto;padding:20px; color:white; background-color:blue"><i class="fa-solid fa-computer"></i></div>
            <div class=" px-2 mx-2" style="">
                <div style="margin-bottom:5px">Education Organization</div>
                <div>Lorem ipsum dolor sit amet consectetur adipisicing elit 
                    sed do eiusmod tempor incididunt lorem ipsum</div>
            </div>
        </div>
        <div class="d-flex" style="padding:10px" >
            <div style="margin:auto;padding:20px; color:white; background-color:blue"><i class="fa-solid fa-scale-balanced"></i></div>
            <div class=" px-2 mx-2" style="">
                <div style="margin-bottom:5px">Education Organization</div>
                <div>Lorem ipsum dolor sit amet consectetur adipisicing elit 
                    sed do eiusmod tempor incididunt lorem ipsum</div>
            </div>
        </div>
        <div class="d-flex" style="padding:10px" >
            <div style="margin:auto;padding:20px; color:white; background-color:blue"><i class="fa-solid fa-robot"></i></div>
            <div class=" px-2 mx-2" style="">
                <div style="margin-bottom:5px">Education Organization</div>
                <div>Lorem ipsum dolor sit amet consectetur adipisicing elit 
                    sed do eiusmod tempor incididunt lorem ipsum</div>
            </div>
        </div>
      
    </div>


    


    
</section>