<section class="bg-dark text-white boxing pt-4" style="padding:20px;display:flex;flex-direction:column">
    <div class="d-flex" style="flex-direction:column;">
        <div class="d-flex" style="padding:10px" >
            <div style="margin:auto;padding:20px; font-size:30px; color:white; background-color:blue"><i class="fa-solid fa-graduation-cap"></i></div>
            <div class=" px-2 mx-2" style="">
                <div style="margin-bottom:5px; font-weight:700; ">Education Organization</div>
                <div>Technology helps solve the problem of access and quality in education.
                     It can go where good teachers will refuse to go and give students the benefit of the same quality of education that the best schools enjoy.</div>
            </div>
        </div>
        <div class="d-flex" style="padding:10px" >
            <div style="margin:auto;padding:20px; font-size:30px;color:white; background-color:blue"><i class="fa-solid fa-school"></i></div>
            <div class=" px-2 mx-2" style="">
                <div style="margin-bottom:5px">Schools Organization</div>
                <div>Lorem ipsum dolor sit amet consectetur adipisicing elit 
                    sed do eiusmod tempor incididunt lorem ipsum</div>
            </div>
        </div>
        <div class="d-flex" style="padding:10px" >
            <div style="margin:auto;padding:20px;font-size:30px; color:white; background-color:blue"><i class="fa-sharp fa-solid fa-screwdriver-wrench"></i></div>
            <div class=" px-2 mx-2" style="">
                <div style="margin-bottom:5px">Education Organization</div>
                <div>Lorem ipsum dolor sit amet consectetur adipisicing elit 
                    sed do eiusmod tempor incididunt lorem ipsum</div>
            </div>
        </div>
      
    </div>




    <div class="d-flex" style="flex-direction:column;">
        <div class="d-flex" style="padding:10px" >
            <div style="margin:auto;padding:20px; font-size:30px; color:white; background-color:blue"><i class="fa-solid fa-computer"></i></div>
            <div class=" px-2 mx-2" style="">
                <div style="margin-bottom:5px">Education Organization</div>
                <div>Lorem ipsum dolor sit amet consectetur adipisicing elit 
                    sed do eiusmod tempor incididunt lorem ipsum</div>
            </div>
        </div>
        <div class="d-flex" style="padding:10px" >
            <div style="margin:auto;padding:20px; font-size:30px; color:white; background-color:blue"><i class="fa-solid fa-scale-balanced"></i></div>
            <div class=" px-2 mx-2" style="">
                <div style="margin-bottom:5px">Education Organization</div>
                <div>Lorem ipsum dolor sit amet consectetur adipisicing elit 
                    sed do eiusmod tempor incididunt lorem ipsum</div>
            </div>
        </div>
        <div class="d-flex" style="padding:10px" >
            <div style="margin:auto;padding:20px;font-size:30px; color:white; background-color:blue"><i class="fa-solid fa-robot"></i></div>
            <div class=" px-2 mx-2" style="">
                <div style="margin-bottom:5px">Education Organization</div>
                <div>Lorem ipsum dolor sit amet consectetur adipisicing elit 
                    sed do eiusmod tempor incididunt lorem ipsum</div>
            </div>
        </div>
    </div>


    


    
</section>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 200"><path fill="#273036" fill-opacity="1" d="M0,64L10.9,53.3C21.8,43,44,21,65,53.3C87.3,85,109,171,131,176C152.7,181,175,107,196,101.3C218.2,96,240,160,262,186.7C283.6,213,305,203,327,213.3C349.1,224,371,256,393,234.7C414.5,213,436,139,458,133.3C480,128,502,192,524,202.7C545.5,213,567,171,589,170.7C610.9,171,633,213,655,213.3C676.4,213,698,171,720,176C741.8,181,764,235,785,213.3C807.3,192,829,96,851,69.3C872.7,43,895,85,916,117.3C938.2,149,960,171,982,154.7C1003.6,139,1025,85,1047,74.7C1069.1,64,1091,96,1113,117.3C1134.5,139,1156,149,1178,149.3C1200,149,1222,139,1244,128C1265.5,117,1287,107,1309,117.3C1330.9,128,1353,160,1375,170.7C1396.4,181,1418,171,1429,165.3L1440,160L1440,0L1429.1,0C1418.2,0,1396,0,1375,0C1352.7,0,1331,0,1309,0C1287.3,0,1265,0,1244,0C1221.8,0,1200,0,1178,0C1156.4,0,1135,0,1113,0C1090.9,0,1069,0,1047,0C1025.5,0,1004,0,982,0C960,0,938,0,916,0C894.5,0,873,0,851,0C829.1,0,807,0,785,0C763.6,0,742,0,720,0C698.2,0,676,0,655,0C632.7,0,611,0,589,0C567.3,0,545,0,524,0C501.8,0,480,0,458,0C436.4,0,415,0,393,0C370.9,0,349,0,327,0C305.5,0,284,0,262,0C240,0,218,0,196,0C174.5,0,153,0,131,0C109.1,0,87,0,65,0C43.6,0,22,0,11,0L0,0Z"></path></svg>