  <section class=" d-flex w-100">
  <div class="card" style="width: 18rem; border:none">
        <img src="/lecture1.jpg" style="height: 250px;" class="card-img-top" alt="...">
        <div class="card-body">
        <p class="card-text text-center">COMPUTER ENGINEERING</p>
        <p class="card-text text-center" style="font-size: 12px; text-align:justify">Lorem alas sskdmsks
            asdjsdnsjn sjdnsjd asdjsdnsjn sjdnsjd asdjsdnsjn sjdnsjd asdjsdnsjn sjdnsjd asdjsdnsjn sjdnsjd asdjsdnsjn sjdnsj sjdnsjd
        </p>
        </div>
       </div>


  <div class="card" style="width: 18rem; border:none">
        <img src="/lecture2.jpg" style="height: 250px; border-radius:200px" class="card-img-top" alt="...">
        <div class="card-body">
        <p class="card-text text-center">CONTROL ENGINEERING</p>
        <p class="card-text text-center" style="font-size: 12px; text-align:justify">Lorem alas sskdmsks
            asdjsdnsjn sjdnsjd asdjsdnsjn sjdnsjd asdjsdnsjn sjdnsjd asdjsdnsjn sjdnsjd asdjsdnsjn sjdnsjd asdjsdnsjn sjdnsj sjdnsjd
        </p>
        </div>
       </div>

  <div class="card" style="width: 18rem; border:none">
        <img src="/lecture3.jpg" style="height: 250px;" class="card-img-top" alt="...">
        <div class="card-body">
        <p class="card-text text-center">POWER AND MACHINE ENGINEERING</p>
         <p class="card-text text-center" style="font-size: 12px; text-align:justify">Lorem alas sskdmsks
            asdjsdnsjn sjdnsjd asdjsdnsjn sjdnsjd asdjsdnsjn sjdnsjd asdjsdnsjn sjdnsjd asdjsdnsjn sjdnsjd asdjsdnsjn sjdnsj sjdnsjd
        </p>
        </div>
       </div>




</section>
       
