<section >
    <section class=" "style="background-color: rgb(158, 111, 8);">
        <div id="carouselExampleFade" class=" carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner container ">
    <div class="carousel-item active w-100 my-1">
      <img src="/technology1.jpg" class="d-block w-100" style="height: 400px; border-radius:8px;" alt="...">
    </div>
    <div class="carousel-item my-1">
      <img src="/technology2.jpg" class="d-block w-100" style="height: 400px; border-radius:8px;" alt="...">
    </div>
    <div class="carousel-item my-1">
      <img src="/engineering-student.jpg" class="d-block w-100" style="height: 400px; border-radius:8px;" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
    </section>
      <div style="text-align:center; font-family:Georgia, 'Times New Roman', Times, serif; font-weight:700; font-size:20px">ELECTRICAL AND ELECTRONIC ENGINEERING NEWS</div>
    <section class="d-sm-flex container" style="justify-content:space-around; align-items:center; flex-wrap:wrap" >
       <aside style="">
        {{> electricalnews}}
       </aside>
       <aside style="">
        
        {{> electricalnews}}
       </aside>
       <aside style=""> 
        {{> electricalnews}}
       </aside>
       <aside style=""> 
        {{> electricalnews}}
       </aside>
      
    </section>

  <section class="bg-dark">
    {{> cardsclider}}
  </section>

  <section class="bg-dark d-sm-flex">
    {{!-- classtime table in eletrical department --}}
    <div>
      <img scr=""    alt="class timetable" >
    </div>
    {{!-- examination timetable in eletrical department --}}
    <div>
      <img scr=""    alt="examination timetable" >
    </div>
  </section>
</section>