{{!-- {{>mainbody}}
<div id="department" class="bg-dark">
{{>box}}
</div>
{{!-- thirdsection --}}
<div>
{{> thirdsectionimage}}
</div>
{{> subbody}}

{{!-- icon to go to the top --}}
<a href="#home">
<div class="iconstyle" style="position:fixed;border:2px solid black; padding 30px; background-color:red; top:90%; left:86%;z-index:105;color:wheat ; width:60px;border-radius:8px; height:auto; text-align:center"><i class="bi bi-arrow-up-square-fill"></i> </div>
</a>

   --}}




fvvnjvnjv Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos nesciunt excepturi nostrum animi optio magnam eaque odit eius aperiam? Earum velit ducimus mollitia nobis numquam amet adipisci quos necessitatibus magnam?
Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum alias incidunt quia voluptas architecto molestias modi facere explicabo delectus ratione quasi facilis pariatur blanditiis hic ea laborum, maxime, amet sequi?
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo exercitationem, maxime eveniet architecto, inventore, incidunt blanditiis consectetur quibusdam dolorem dolores tenetur voluptatibus assumenda. Molestiae doloremque architecto ullam sunt provident eaque.
