<section style="scroll-snap-type:mandatory">
{{>mainbody}}
<div id="department" class="bg-dark">
{{>box}}
</div>
{{!-- thirdsection --}}
{{> subbody}}

{{!-- icon to go to the top --}}
<a href="#home">
<div class="iconstyle" style="position:fixed;border:2px solid black; padding 30px; background-color:red; top:90%; left:86%;z-index:105;color:wheat ; width:60px;border-radius:8px; height:auto; text-align:center"><i class="bi bi-arrow-up-square-fill"></i> </div>
</a>
</section>
  
