<section style="scroll-snap-type:mandatory" class="">
{{>mainbody}}
{{> subbody}}
{{>Courses}}
{{>learningCourse}}
{{!-- {{>secondlast}} --}}
{{!-- {{>lastpage}} --}}

{{!-- icon to go to the top --}}
<a href="#home">
<div class="iconstyle" style="position:fixed;border:2px solid black; padding 30px; background-color:red; top:90%; left:86%;z-index:105;color:wheat ; width:auto;border-radius:8px; height:auto; text-align:center"><i class="bi bi-arrow-up-square-fill"></i> </div>
</a>
</section>
  
