{{> SideBar}}

	<!-- NAVBAR -->
	<section id="content">
		<!-- NAVBAR -->
{{> Nav}}
		<!-- NAVBAR -->

		
		<!-- MAIN -->
		<main>

		{{> Navigationbar}}
		{{> table}}

		</main>
		<!-- MAIN -->
	</section>
	<!-- NAVBAR -->
