<section class="container my-sm-2">
  <div><h1 class="text-center;" style="font-family:Georgia, 'Times New Roman', Times, serif;text-align:center; font-weight:700;">STAFF REGISTER</h1></div>
<form class="row g-2 d-flex bg-dark text-white py-3 px-2" method="POST" action="/department/staffregister">
<div class="col-md-12">
         <label for="userName" class="form-label">User Name</label>
    <input type="text" class="form-control"  name="username" placeholder="User name" aria-label="User name">
  </div>
      <div class="col-md-12">
         <label for="firstName" class="form-label">First Name</label>
    <input type="text" class="form-control" name="firstname" placeholder="First name" aria-label="First name">
  </div>
  <div class="col-md-12">
      <label for="lastName" class="form-label">Last Name</label>
    <input type="text" class="form-control" name="lastname" placeholder="Last name" aria-label="Last name">
  </div>
  <div class="col-md-12">
    <label for="inputEmail4" class="form-label">Email</label>
    <input type="email" class="form-control" name="email" id="inputEmail4" placeholder="please enter your email account name">
  </div>
   <div class="col-md-12">
    <label class="program" for="mat">DEPARTMENT</label>
     <select class="form-control department" name="department">
       <option value="CIVIL">CIVIL ENGINEERING</option>
      <option value="CHEMICAL">CHEMICAL ENGINEERING</option>
      <option value="ELECTRICAL">ELECTRICAL AND ELECTRONIC ENGINEERING</option>
      <option value="MINIRAL">MINIRAL ENGINEERING</option>
       <option value="MECHANICAL">MECHANICAL ENGINEERING</option>
     </select>
    </div>
  <div class="col-md-12">
    <label for="inputPassword4" class="form-label">Password</label>
    <input type="password" class="form-control" name="password1" id="inputPassword4">
  </div>
   <div class="col-md-12">
  <label for="inputPassword41" class="form-label">Varify Password</label>
    <input type="password" class="form-control" name="password2" id="inputPassword41">
  </div>
  
  <div class="col-md-12 mt-3">
    <button type="submit" class="btn form-control btn-primary">Register</button>
  </div>
</form>

<section class="w-100">
  <div class="d-flex" style="text-align: center;">
    <a href="/department/stafflogin" type="button" class="d-flex" style="text-align: center; font-size:20px">login</a>
  </div>
</section>


</section>