.navigation {
    display: none;
}

.navigation.active {
    display: block;
    position: fixed;
    height: 100vh;
    color: white;
    z-index: 20;
    left: 0;
    right: calc(100vw - 250px);
    text-align: left;
    transition: all 1s;
}

.mobile-nav {
    margin-top: 30px;
    margin-left: 5%;
}

.mobile-nav li {
    font-weight: 20px;
    list-style: none;
    line-height: 40px;
}