* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    /* height: calc(100vh - 500px); */
    /* color: white; */
    overflow-x: hidden;
    font-family: Georgia, 'Times New Roman', Times, serif
}

ul li {
    list-style: none !important;
}

.homeimage {
    position: relative;
    background-color: rgb(0, 0, 0, 0.5);
}

.homecontent {
    position: relative;
}

img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.mainimage {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

a,
.logo a,
#nav-menu li a,
.btn a {
    text-decoration: none;
    color: white;
}

#navigation {
    display: none !important;
}

#toggles {
    position: relative !important;
    width: 40px;
    height: 40px;
    /* background: #ffff; */
    box-shadow: 0 10px 20px rgba(30, 27, 27, 0.7);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.thirdsection {
    background-image: url('/backgroundimage.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1000;
    height: 100px;
    width: 100vw;
}

.courses {
    background-image: url('./civil-engineering.jpg');
}

#myInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#myUL li a {
    border: 1px solid #ddd;
    margin-top: -1px;
    /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block
}

#myUL li a:hover:not(.header) {
    background-color: #eee;
}

.box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
}

.button {
    font-size: 1em;
    padding: 10px;
    color: #fff;
    border: 2px solid #06D85F;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.button:hover {
    background: #06D85F;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 10 !important;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
    z-index: 10 !important;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    width: calc(100% - 100px);
    position: relative;
    transition: all 5s ease-in-out;
    z-index: 100 !important;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #06D85F;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}

@media screen and (max-width: 475px) {
    .mainimage {
        width: 100% !important;
    }
    .popup {
        width: 70%;
    }
}